.title-text {
    text-align: center;
    font-weight: bold;
    top: 50%;
    padding-bottom: 20px;
    color: white;
}

.title {
    background-color: #ffdd00;
    padding-top: 5px;

}

.imageeee {
    width: 50px;
    height: 50px;

}