// body {
//     padding : 10px ;
    
//   }
  
//   #exTab1 .tab-content {
//     color : white;
//     background-color: #428bca;
//     padding : 5px 15px;
//   }
  
//   #exTab2 h3 {
//     color : white;
//     background-color: #428bca;
//     padding : 5px 15px;
//   }
  
  /* remove border radius for the tab */
  
//   #exTab1 .nav-pills > li > a {
//     border-radius: 0;
//   }
  
  /* change border radius for the tab , apply corners on top*/
  
//   #exTab3 .nav-pills > li > a {
//     border-radius: 4px 4px 0 0 ;
//   }
  
//   #exTab3 .tab-content {
//     color : white;
//     background-color: #428bca;
//     padding : 5px 15px;
//   }
  
  .title-text {
    text-align: center;
    font-weight: bold;
    top: 50%;
    padding-bottom: 20px;
    color: white;
}

.title {
    background-color: #ffdd00;
    padding-top: 5px;

}
  
  
.imageeee {
    width: 50px;
    height: 50px;

}
.card-imageeee {
    width: 200px;
    height: 200px;

}
  .card-view{
    width: 250px;
    outline-style: dotted;
    padding: 2%;
    margin: 10px;
  }