<div class="title">
    <h1 class="title-text">
        Welcome to our online store
    </h1>
</div>
<div class="container">
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="   SEARCH">
    </div>
</div>
<div class="container">
    <h2>Best Prices</h2>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#cardsView">Cards View</a></li>
        <li><a data-toggle="pill" href="#tableView">Table View</a></li>
    </ul>
    <div class="tab-content">
        <div id="cardsView" class="tab-pane fade in active">
            <div class="details-card">
                <div class="container">
                    <div class="row">
                        <div *ngFor="let product of products | filter:searchText ">
                            <div class="  col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="assets/img/shopping.jpg" alt="">
                                        <span>
                                            <h4>${{product.price}}</h4>
                                        </span>
                                    </div>
                                    <div class="card-desc">
                                        <h3>{{product.name}}</h3>
                                        <a class="btn-card">BUY</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tableView" class="tab-pane fade">
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col ">img</th>
                                    <th scope="col ">Name</th>
                                    <th scope="col ">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products | filter:searchText">
                                    <td>
                                        <img class="imageeee" src="assets/img/shopping.jpg">
                                    </td>
                                    <td>{{product.name}}</td>
                                    <td>${{product.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>